@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Benefits Section (part of footer)
.benefits-section {
  background-image: url('/src/assets/images/footer/our-benefits-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: $spacing-md 0;
  min-height: 192px;

  @include mobile {
    padding-bottom: 0;
  }

  &__container {
    @include container;
  }

  .section-title {
    text-align: start;
    font-family: $font-family-secondary;
    font-size: $font-size-h5;
    font-weight: $font-weight-bold;
    color: $text-light;
    padding-left: $spacing-xs;
    margin-bottom: $spacing-lg;
  }
}

.benefits-grid {
  @include grid(4, $spacing-xxl);
  justify-items: start;

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-sm;
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-sm;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: $spacing-xs;
  }
}

.benefit-card {
  @include flex-center;

  gap: $spacing-sm;
  text-align: left;

  &__icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: $spacing-xs;
  }

  &__title {
    font-size: $font-size-h6;
    font-weight: $font-weight-medium;
    font-family: $font-family-secondary;
    color: $text-light;
    line-height: 1.4;
  }
}

.footer {
  color: $text-primary;

  &__container {
    @include container;
    padding-top: 120px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2.9fr;
    grid-template-rows: auto;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__column {
    @include flex-column;
    margin-bottom: $spacing-md;
  }

  &__column-contact {
    grid-column: 4/ 5;
    grid-row: 1 / 2;
    max-width: 380px;
    justify-self: end;

    @include tablet {
      grid-column: 1/ 3;
      grid-row: 2/ 3;
      justify-self: start;
    }

    @include mobile {
      grid-column: 1/ 4;
      grid-row: 2/ 3;
      max-width: 800px;
      justify-self: start;
    }
  }

  &__title {
    font-family: $font-family-secondary;
    font-size: $font-size-h6;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-sm;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__links {
    @include flex-column;
    gap: 4px;

    a {
      font-family: $font-family-secondary;
      font-size: $font-size-h6;
      font-weight: $font-weight-regular;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__contact {
    grid-column: 4/ 5;
    grid-row: 2/ 3;
    max-width: 380px;
    justify-self: end;
    align-content: end;

    @include tablet {
      grid-column: 3/ 4;
      grid-row: 2/ 3;
      justify-self: start;
      align-content: center;
    }

    @include mobile {
      grid-column: 1/ 4;
      grid-row: 3/ 4;
      justify-self: start;
      align-content: center;
    }
  }

  &__contact-text {
    font-family: $font-family-secondary;
    font-size: $font-size-h6;
    font-weight: $font-weight-regular;
    color: $text-primary;
    margin-bottom: $spacing-sm;
  }

  &__contact-info {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    font-family: $font-family-secondary;
    font-size: $font-size-h6;
    font-weight: $font-weight-regular;
    gap: $spacing-xs;
    margin-bottom: $spacing-sm;

    @include tablet {
      grid-template-columns: 1fr;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__contact-item {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    font-size: $font-size-small;

    img {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
  }

  &__shipping {
    grid-column: 1/ 4;
    grid-row: 2/ 3;
    max-width: 645px;
    align-content: end;

    @include tablet {
      grid-column: 1/ 4;
      grid-row: 3/ 4;
      max-width: 800px;
      align-content: start;
    }

    @include mobile {
      grid-column: 1/ 4;
      grid-row: 4/ 5;
      max-width: 900px;
      align-content: start;
    }
  }

  &__shipping-title {
    font-family: $font-family-secondary;
    font-size: $font-size-h6;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-sm;
  }

  &__shipping-text {
    font-family: $font-family-secondary;
    font-size: $font-size-h6;
    font-weight: $font-weight-regular;
    color: $text-primary;
    max-width: 900px;
    margin-bottom: $spacing-sm;
  }

  &__bottom {
    text-align: center;
    margin: 100px 0 40px 0;
    font-family: $font-family-secondary;
    font-size: 14px;
    font-weight: $font-weight-regular;
    color: rgba(0, 0, 0, 0.35);
  }
}
