<header class="header">
  <div class="header__container">
    <div class="header__top">
      <div class="header__social">
        <a href="#" class="social-icon" aria-label="Facebook">
          <img src="./assets/images/header/facebook.svg" alt="Facebook" />
        </a>
        <a href="#" class="social-icon" aria-label="Twitter">
          <img src="./assets/images/header/twitter.svg" alt="Twitter" />
        </a>
        <a href="#" class="social-icon" aria-label="Instagram">
          <img src="./assets/images/header/instagram.svg" alt="Instagram" />
        </a>
      </div>

      <div class="header__logo">
        <a href="index.html">
          <img
            src="./assets/images/header/logo.svg"
            alt="Best Shop Logo"
            class="logo"
          />
        </a>
      </div>

      <div class="header__actions">
        <button class="icon-btn" id="login-btn" aria-label="Account">
          <img src="./assets/images/header/user.svg" alt="Account" />
        </button>
        <button class="icon-btn cart-btn" id="cart-btn" aria-label="Shopping Cart">
          <img
            src="./assets/images/header/shopping-cart.svg"
            alt="Shopping Cart"
          />
          <span class="cart-badge" id="cart-count">0</span>
        </button>
      </div>

      <button class="hamburger" aria-label="Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <nav class="header__nav">
      <ul class="nav-list">
        <li>
          <a href="index.html" class="nav-link" data-page="home">Home</a>
        </li>
        <li>
          <a href="./html/catalog.html" class="nav-link" data-page="catalog"
            >Catalog</a
          >
        </li>
        <li>
          <a href="./html/about.html" class="nav-link" data-page="about"
            >About Us</a
          >
        </li>
        <li>
          <a href="./html/contact.html" class="nav-link" data-page="contact"
            >Contact Us</a
          >
        </li>
      </ul>

      <div class="nav-social">
        <a href="#" class="social-icon" aria-label="Facebook">
          <img src="./assets/images/header/facebook.svg" alt="Facebook" />
        </a>
        <a href="#" class="social-icon" aria-label="Twitter">
          <img src="./assets/images/header/twitter.svg" alt="Twitter" />
        </a>
        <a href="#" class="social-icon" aria-label="Instagram">
          <img src="./assets/images/header/instagram.svg" alt="Instagram" />
        </a>
      </div>
    </nav>
  </div>
</header>
